<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
  <head>
    <title>Manage User</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h1>New user</h1>

      <form
        th:action="@{/admin/users/create}"
        th:object="${user}"
        method="post"
        class="ui form"
      >
        <div class="field">
          <label
            for="name"
            th:classappend="${#fields.hasErrors('name')} ? error : ''"
            >Name</label
          >
          <input
            type="text"
            name="name"
            placeholder="Full Name"
            th:value="${user.name}"
          />
        </div>
        <div
          class="field"
          th:classappend="${#fields.hasErrors('username')} ? error : ''"
        >
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            placeholder="Username"
            th:value="${user.username}"
          />
        </div>
        <div
          class="field"
          th:classappend="${#fields.hasErrors('email')} ? error : ''"
        >
          <label for="email">Email Address</label>
          <input
            type="email"
            name="email"
            placeholder="Email Address"
            th:value="${user.email}"
          />
        </div>
        <div
          class="field"
          th:classappend="${#fields.hasErrors('password')} ? error : ''"
        >
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            placeholder="password"
            th:value="${user.password}"
          />
        </div>
        <div
          class="field"
          th:classappend="${#fields.hasErrors('roles')} ? error : ''"
        >
          <label for="roles">Roles</label>
          <select name="roles" id="roles" class="ui dropdown" multiple>
            <option
              th:each="role : ${roles}"
              th:value="${role.id}"
              th:text="${role.name}"
              >Role Name</option
            >
          </select>
        </div>

        <button class="ui primary button">Submit</button>
      </form>
    </div>
  </body>
</html>
