<!doctype html>
<html lang="en" layout:decorate="~{layouts/main}">
<head>
    <title>Manage User</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Manage Users</h1>

    <table class="ui celled table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.name}">Name</td>
                <td th:text="${user.email}">Email Address</td>
                <td>
                    <a th:href="@{/users/{id}/edit(id=${user.id})}" class="ui small button">Edit</a>
                    <a th:href="@{/users/{id}/delete(id=${user.id})}" class="ui small button negative">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="/users/create" class="ui small button primary">Create</a>
</div>
</body>
</html>